*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Opens Sans', sans-serif;
}

body{
    background-color: aquamarine;
}

.card{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: white;
    border-radius: 50px;
    height: 480px;
    width: 350px;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    height: 250px;
}

.info{
    list-style: none;
}